body{
    font-family: Calibri, Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 0;
    background-size: 25px 25px;
    background-image:
        linear-gradient(to right, rgb(227, 227, 227) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(227, 227, 227) 1px, transparent 1px);
}

h1 {
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 60px;
}

.content {
    display: flex;
    min-width: 400px;
}

.header-grid {
    align-self: center;
}

.grid-container {
    width: 500px;
    height: 500px;
    display: grid;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
}

.button-container {
    min-width: 180px;
    max-width: 220px;
    align-self: center;
}

button:hover {
    background-color: rgb(205, 152, 27);
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    /*box-shadow: 0 0 0 5px rgb(205, 152, 27, 0.3);*/
}

button, 
input {
    margin-top: 20px;
    width: 170px;
    height: 60px;
    cursor: pointer;
    font-family: 'Amatic SC';
    font-size: 30px;
    border-radius: 8px;
}

.color {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 40px;
}
  
[type="color"] {
    height: 200%;
    transform: translate(-25%, -25%)
}


[type="range"] {
    margin-top: 30px;
    height: 5px;
    background: rgb(225, 225, 225);
    border: 1px solid rgb(86, 86, 86);
    appearance: none;
    border-radius: 10px;
}

[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background: white;
    box-shadow: 0 0 1px 1px rgb(101, 101, 101);
}

[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 15px rgba(175, 175, 175, 0.5);
}